@font-face {
    font-family: SansSC;
    src: url(../assets/fonts/SourceHanSansSC-VF.otf);
}

.bg-img-full {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    font-size: 1rem;
    image-rendering: pixelated;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: SansSC, system-ui;
}

.wvr {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

*::-webkit-scrollbar {
    display: none;
}

@keyframes walk {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100vw);
    }
}

@keyframes gtr {
    0% {
        left: 2rem;
    }

    100% {
        left: calc(100% - 24rem);
    }
}

@keyframes gtl {
    0% {
        left: calc(100% - 24rem);
    }

    100% {
        left: 2rem;
    }
}

@keyframes bling {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}